@import "../../styles.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $do-black;
    padding: 10px;
    .menu {
        height: 24px;
    }
    .menu ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
            visibility: hidden;
        }
        li {
            font-family: 'Titillium Web';
            list-style: none;
            margin-right: 30px;
            color: $do-white;
        }
    }
    .hamburger {
        color: $do-white;
        display: none;
        align-items: center;
        @media only screen and (min-width: 320px) and (max-width: 640px) {
            display: flex;
        }
    }
}
