$grid-width: 12;
@for $i from 1 through $grid-width {
    .doCol-#{$i} {
    min-width: percentage($i / $grid-width);
    max-width: 100%;
    } 
}
.doRow {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;

    &:not(:last-child) {
        padding-bottom: 1rem;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    [class^="doCol-"] {
        float: left;

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
}
