# Default ignored files
/shelf/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Custom ignored files
#!.gitignore
# *.properties
#!*-test.properties
#docker-compose.*



/.attach_pid2486
