<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <h2 *ngIf="production">We are running in production!</h2>
  <h2 *ngIf="!production">We are running in development...</h2>
</div>

<div class="doRow">
  <div class="doCol-1 block">1</div>
  <div class="doCol-4 block">1</div>
</div>
<div class="doRow">
    <div class="doCol-1 block">1sdafdgfhdgjf</div>
    <div class="doCol-1 block">1safdasdafdgsfhgfsagdhsfgsfsagdsfgfhgjf</div>
    <div class="doCol-1 block">1sdafdgfhdgjf</div>
    <div class="doCol-1 block">1safdgfhgjf</div>
    <div class="doCol-1 block">1sdafdgfhdgjf</div>
    <div class="doCol-1 block">1safdgfhgjf</div>
    <div class="doCol-1 block">1sdafdgfhdgjf</div>
    <div class="doCol-1 block">1safdgfhgjf</div>
    <div class="doCol-1 block">1sdafdgfhdgjf</div>
    <div class="doCol-1 block">1safdgfhgjf</div>
    <div class="doCol-1 block">1sdafdgfhdgjf</div>
    <div class="doCol-1 block">1safdgfhgjf</div>
</div>
<div class="doRow">
    <div class="doCol-2 block">2</div>
    <div class="doCol-2 block">2</div>
    <div class="doCol-2 block">2</div>
    <div class="doCol-2 block">2</div>
    <div class="doCol-2 block">2</div>
    <div class="doCol-2 block">2</div>
</div>
<div class="doRow">
    <div class="doCol-3 block">3</div>
    <div class="doCol-3 block">3</div>
    <div class="doCol-3 block">3</div>
    <div class="doCol-3 block">3</div>
</div>
<div class="doRow">
    <div class="doCol-4 block">4</div>
    <div class="doCol-4 block">4</div>
    <div class="doCol-4 block">4</div>
</div>
<div class="doRow">
    <div class="doCol-5 block">5</div>
    <div class="doCol-5 block">5</div>
    <div class="doCol-2 block">2</div>
</div>
<div class="doRow">
    <div class="doCol-6 block">6</div>
    <div class="doCol-6 block">6</div>
</div>
<div class="doRow">
    <div class="doCol-7 block">7</div>
    <div class="doCol-5 block">5</div>
</div>
<div class="doRow">
    <div class="doCol-8 block">8</div>
    <div class="doCol-4 block">4</div>
</div>
<div class="doRow">
    <div class="doCol-9 block">9</div>
    <div class="doCol-3 block">3</div>
</div>
<div class="doRow">
    <div class="doCol-10 block">10</div>
    <div class="doCol-2 block">2</div>
</div>
<div class="doRow">
    <div class="doCol-11 block">11</div>
    <div class="doCol-1 block">1</div>
</div>
<div class="doRow">
    <div class="doCol-12 block">12</div>
</div>