/* You can add global styles to this file, and also import other style files */
@import "scss/colors";
@import "scss/grid";
@import "scss/fonts";
@import 'scss/breakpoint';
@import 'scss/icons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Titillium Web', sans-serif;
    background-color: $do-grey; 
}
